[Desktop Entry]
Name=Hyprland
Comment=An intelligent dynamic tiling Wayland compositor
#Exec=Hyprland
Exec=dbus-launch --sh-syntax --exit-with-session Hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
